@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?8c9i2e');
  src:  url('../fonts/icomoon.eot?8c9i2e#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?8c9i2e') format('truetype'),
    url('../fonts/icomoon.woff?8c9i2e') format('woff'),
    url('../fonts/icomoon.svg?8c9i2e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart-outlined:before {
  content: "\e901";
}
.icon-rocket:before {
  content: "\e902";
}
.icon-twitter1:before {
  content: "\e907";
}
.icon-eye:before {
  content: "\e903";
}
.icon-megaphone:before {
  content: "\e904";
}
.icon-feather:before {
  content: "\e905";
}
.icon-google:before {
  content: "\e900";
}
.icon-clock:before {
  content: "\e906";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-dribbble:before {
  content: "\f17d";
}
.icon-circle-thin:before {
  content: "\f1db";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
